html,
body {
    background-color: rgb(187, 79, 79);
}

#profile {
    display: inline-block;
}

#profile_txt {
    float: left;
}

#profile_pic {
    float: right;
    height: 300px;
    border-radius: 8px;
}