{% extends 'template_univ.html' %} {% block main %}
<h1>About me</h1>
<div id="profile">

    <img id="profile_pic" src="../static/img/profile.jpg" , alt="Profile Picture" />
    <p> My name is Jack Napier. I'm a struggling comedian and my greatest abition is killing Batman!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam eros, faucibus vitae turpis non, varius maximus nibh. Vestibulum eget nulla varius tellus auctor accumsan. Fusce vestibulum ex mi. Suspendisse a rutrum sem, ut molestie ligula.
        Vivamus vehicula augue nulla, et vestibulum orci maximus non. In et nisi a ligula tempus tincidunt. Suspendisse pulvinar ut ligula id tempor. Nullam ut accumsan neque. Quisque sit amet venenatis ante. Pellentesque accumsan nulla convallis, pulvinar
        ex non, cursus neque. Ut malesuada ante lectus, sed tempus ante bibendum eget. Fusce nec purus nibh. Duis id sodales ligula, quis cursus quam. Nullam laoreet magna et diam aliquet vehicula. Duis sed lacus egestas, finibus sem et, laoreet sapien.</p>
    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec suscipit consectetur porttitor. Etiam auctor vehicula urna. Nulla porta vestibulum libero, ut venenatis metus rutrum in. Nullam mattis lacus vitae mauris mollis, eget eleifend purus
        pretium. Integer finibus dui enim, eget consectetur risus maximus et. Praesent ultrices dictum accumsan. Donec vel sodales massa, et gravida ex. Donec sodales, turpis id scelerisque dignissim, justo eros auctor erat, pellentesque malesuada metus
        diam sollicitudin velit. Maecenas eu risus in nisi cursus dapibus non quis eros. In viverra, nisl vitae iaculis vulputate, leo sapien vulputate lacus, ut molestie sapien massa non ipsum. </p>


</div>
{% endblock main %}